<form id="delete-signature" method="POST" action="/petition/delete">
    <input id="delete" type="submit" value="Delete Signature">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
