

<!doctype html>
<html>

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/petition.css" type="text/css">
    <title>petition</title>
</head>
<body>
    {{> header}}

    {{{body}}}

    <script src = "/canvas.js"></script>
</body>
</html>
