

<p id='explanation'> There is a reason why german people don't know or don't like shows like Seinfeld. For them, Jerry is not Jerry, Elaine is not Elaine, Kramer is not Kramer, and so on.<br> All of the above are actually german people, with doubtful sense of humour or acting skills. The year is 2016, and it's time for people to make the effort of reading subtitles, and actually see the film/show with it's intended and original acting. And there's a bonus: words that actually match the mouth movement</p>

<div id='sign-area'>
    <h3 id="sign-here">Sign Here:</h3>
<form method="POST" action="/signing">
    First name:
    <input id='first-name' type="text" name="firstname">
    Last name:
    <input id='last-name' type="text" name="lastname">
    <br><br>
    <p id="signature-text">sign here:<p>
    <input id='signature' type='hidden' type='image' name='signature'>


    <canvas id="canv" width="400" height="80">
    </canvas>

    <input id="submit" type="submit" value="Submit">
</form>

<iframe id="video" width="420" height="230" src="https://www.youtube.com/embed/mhNc3oaEUUE?start=25&end=28" frameborder="0" allowfullscreen></iframe>

</div>

{{>logout}}
