
<form id="login-form" method="POST" action="/check-user">
    Email Address:
    <br>
    <input class="fields" id='user-email' type="email" name="email" required="require" class="userinput"/>
    <br>
    Password:
    <br>
    <input class="fields" id='user-password' type="password" name="password" required="require" class="userinput"/>
    <br>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input id="sign-in-botton" type="submit" value="LOG IN">
</form>

<form id="register-from-login" method="GET" action="/petition/register">
    <input id="sign-in-botton" type="submit" value="REGISTER">
</form>
