
<h2 id="tell-more-text">Please tell us more about yourself</h2>

<form id="login-form" method="POST" action="/petition/pre-form">
    Age:
    <br>
    <input class="fields" id='age' type="text" name="age">
    <br>
    City:
    <br>
    <input class="fields" id='city' type="text" name="city">
    <br>
    Homepage:
    <br>
    <input class="fields" id='homepage' type="text" name="homepage">
    <br>
    <input id="sign-in-botton" type="submit" value="CONTINUE">
</form>
{{>logout}}
