

<form id="register-form" method="POST" action="/registering">
    First name:
    <br>
    <input class="fields" id='user-first-name' type="text" name="firstname" required="require" class="userinput"/>
    <br>
    Last name:
    <br>
    <input class="fields" id='user-last-name' type="text" name="lastname" required="require" class="userinput"/>
    <br>
    Email Address:
    <br>
    <input class="fields" id='user-email' type="email" name="email" required="require" class="userinput"/>
    <br>
    Password:
    <br>
    <input class="fields" id='user-password' type="password" name="password" required="require" class="userinput"/>
    <br>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <input id="sign-in-botton" type="submit" value="REGISTER">
</form>

{{>register-footer}}
