
#sign-area {
    position: relative;
    text-align: center;
    margin-top:0;
}

#canv {
    position: relative;
    border: 2px solid black;
    margin-top: 0;
    left:5%;
}


#submit {
    position: relative;
    height:150px;
    width:150px;
    left:5%;
}

#signature-text {
    position: relative;
    font-size: 26px;
    margin-bottom: 0;
}

body {
    font-family: Arial Black;
    background-color: #F0E68C;
}

#main-headline {
    text-align: center;
    color: red;
    margin-bottom: 0px;

}

#stop-dubbing{
    text-align:center;
    font-size: 40px;
}



#explanation {
    position:relative;
    top: 5%;
    font-size: 22px;
    text-align: center;
    margin-bottom: 2%;

}


#thanks {
    text-align: center;
}

#see-signers {
    font-size: 20px;
    position:relative;
    color: blue;
    cursor: pointer;
    text-align: center;
    left: 45%;
    top:35%;

}

#signers-text {
    text-align: center;
}

#signers {
    position: relative;
    text-align: center;
    list-style-type: none;

}

#existing-signature {
    position: relative;
    text-align: center;
    height: 80px;
    width: 400px;
    border: 2px solid black;
    left: 37%;
    top:25%;
}


#video{
    position:relative;
    left:35%;
    width:400px;
    height:230px;
}

#already-signed-text{
    text-align: center;
}

#error {
    text-align: center;
    font-size: 20px;
    color: red;
    top: 40%;
}

#register-form {
    position: relative;
    text-align: center;
}

.fields {
    margin-bottom: 20px;
}

#footer-signed-in {
    margin-top: 50px;
    text-align: center;
}

#sign-in-botton {
    cursor: pointer;

}


#login-form {
    position: relative;
    text-align: center;
}

#register-from-login{
    position: relative;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

#log-out {
    position: absolute;
    bottom: 10%;
    left:12%;
    cursor: pointer;

}

#loged-out {
    text-align: center;
}

#tell-more-text {
    text-align: center;
}

#edit-profile {
    position: absolute;
    bottom: 14%;
    left:12%;
}

#edit-profile-text {
    position: relative;
    text-align: center;
}

#delete-signature {
    position: absolute;
    bottom: 18%;
    left:12%;
}
